@charset "UTF-8";

.container {
    width: fit-content;
    margin: 5.6rem auto;
}

header {
    margin-bottom: 6.3rem;
}

/* .card {
    padding: 3.2rem 2.3rem;
    text-align: center;
    background-color: #1d1c19;
    border-bottom: 2px solid #f7dd43;
    border-radius: 0.6rem;
}

.card h2 {
    border: 1px solid #746615;
    border-radius: 0.6rem;
    padding: 0.8rem 1.6rem;
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.card ul {
    margin-top: 5.3rem;
} */

