@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 10px;
}

body {
  background-color: #121214;
  background-image: url(/images/background.svg);
  background-position-x: center;
  background-position-y: -71.5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
