@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 10px;
  --bckg-body-color: #121214;
   --bckg-card-color: #1d1c19; 
  --first-color: #e1e1e6;
  --second-color: #f7dd43;
  --third-color: #746615;
}

body {
  background-color: var(--bckg-body-color);
  background-image: url(/images/background.svg);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
